/*--*/
h1{
color: black !important;
}

h2{
color: black !important;
}

h3{
color: black !important;
}

h4{
color: black !important;
}

/*Most edits and customizations were made in orginal style sheet or html*/
